.login {
    color: #324e9c;
    font-weight: bold;
}
#submit{
    background-color: #335ac7;
}
body{
    background-color: #d1daf3;
}
#content{
    width: 700px;
    position:relative;
    top:20px;
    left: 20%;
}
.card-body{
    background-color: #e9ecef;
    border: 2px solid cornsilk;
}